[Desktop Entry]
Version={VERSION}
Type=Application
Name=Checksums
Comment=Application to verify file integrity with online service https://checksums.app
TryExec=checksums
Exec=checksums
Categories=Utility
Icon=app.checksums.svg
StartupWMClass=checksums
