name: Create Snap
on:
  workflow_dispatch:
      inputs:
        tag:
          description: 'Tag of the existing release'
          required: true
          type: string

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        id: create-snap
        uses: snapcore/action-build@v1

      - name: Upload snap to release
        env:
          GITHUB_TOKEN: ${{ github.TOKEN }}
        run: |
          gh release upload ${{ github.event.inputs.tag }} ${{ steps.create-snap.outputs.snap }}


